{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests", "phpdocumentor", "phpunit", "sebastian", "doctrine"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/main",
    "output": "pipe2.phar",
    "stub": true
}
